# Copie para .env e coloque os valores reais

SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/Sentinela0800?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=YOUR_DB_PASSWORD
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_THYMELEAF_CACHE=false
MYSQL_ROOT_PASSWORD=YOUR_DB_PASSWORD
